<h1>Welcome!</h1>
<p>This page will serve as the personal members page of Photo Friends.</p>


<h2>Your basic information</h2>
<ul>
<li>Screen name: <%= @user.screen_name %></li>
<li>Email: <%= @user.email %></li>
<li>Password: *******</li>
</ul>

<%= render :partial => 'photo/sidebar_box' %>
