#container
{
	color: #E5E5E5;
	margin: 0 auto;
	width: 80%;
	background: #fff;
}

#header
{
	width: 100%;
	background:  #4E78A0;
	padding: 10px;
}

#header h1 { margin: 0; }

#navigation
{
	float: left;
	width: 100%;
	background: #333;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: right;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover { background: #808080; }

#content-container1
{
	float: left;
	width: 100%;
}

#content-container2
{
	float: left;
	width: 100%;
	
}

#section-navigation ul
{
	margin: 0;
	padding: 0;
}

#section-navigation ul li
{
	margin: 0 0 1em;
	padding: 0;
	list-style-type: none;
}

#content
{
	text-align:center;
	color:#E5E5E5;
	float: left;
	width: 56%;
	padding: 20px 0;
	margin: 0 0 0 1%;
}

#content h2 { margin: 0; }

#footer
{
	clear: both;
	background:  #4E78A0;
	text-align: right;
	padding: 20px;
	height: 1%;
}